{% extends 'blog/base.html' %}
{% block content %}
    <h1>입력페이지</h1>
    <form method='POST' class="post-form" action="result">
        {% csrf_token %}
        <input type="text" name="url"/>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <div>
        <!-- <h1>주요문장</h1>
        {% for post in posts %}
            <p>{{ post }}</p>
        {% endfor %}
        <hr>
        <h1>키워드</h1>
        {% for keyword in keywords %}
            <p>{{ keyword }}</p>
        {% endfor %} -->
    </div>

{% endblock %}
