{% extends 'blog/base.html' %}
{% load staticfiles%}
{% block content %}
<div class="wrap_description">
	<div class="description1 bold">
		<p>TextRank 알고리즘에 따라 핵심 문장과 키워드를 추출하여</p>
		<p>뉴스를 더 쉽게 만들어줍니다.</p>
		<p>당신을 위한 세줄요약기 EASIER, 지금 바로 시작하세요!</p>
	</div>
	<div class="description2 bolder">
		<div class="inline-block margin-right"><a href="/content">GETTING STARTED</a></div>
		{% if not user.is_authenticated %}
			<div class="inline-block margin-right"><a href="/sign_up">SIGN UP</a></div>
			<div class="inline-block "><a href="/sign_in">SIGN IN</a></div>
		{% else %}
			<div class="inline-block "><a href="/sign_out">SIGN OUT</a></div>
		{% endif %}
	</div>
</div>	
<div class="title"><img src="{% static 'image/EASIER.png' %}" /></div>
<script>
$(function() {
	$('.title>img').animate({ opacity: 1, right: "-20px" },2000);
	$('.description1>p:first-child').delay(1000).animate({opacity: 1, right:"-20px"},2000);
	$('.description1>p:nth-child(2)').delay(2000).animate({opacity: 1,right:"-20px"},2000);
	$('.description1>p:nth-child(3)').delay(3000).animate({opacity: 1,right:"-20px"},2000);
	$('.description2').animate({opacity: 1},2000);
});

</script>
{% endblock %} 

		