{% extends 'blog/base.html' %}
{% load staticfiles%}
{% block content %}
<div class="sign-div">
	<div>
		<div class="sidedivIn sidediv">
			<h1>SIGN IN</h1>
			<p>Welcome back!</p>
		</div>
		<div>
			<form method="post" action="">
		    	{% csrf_token %}
		    	{{ form.as_p }}
		    	<button type="submit">로그인</button>
		    	<a href="/sign_up">EASIER에 처음 오셨나요?</a>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
  var height = $( window ).height()
  $('.sign-div').css('height', height+"px");
  $('body').attr("class","");
  $('body').attr("class","user");
</script>
{% endblock %}

