.link {
  stroke: #29d4c7;
  stroke-width: 10;
}

.node text {
stroke:#212529;
cursos:pointer;
}

.node circle{
stroke:#862e9c;
stroke-width:2px;
fill:#ddcee8;
}


#modal {
  position:fixed;
  left:50%;
  top: 50%;
  width:600px;
  margin-left:-300px;
  z-index:1;
  background: white;
  border: 1px black solid;
  box-shadow: 10px 10px 5px #888888;
  display: none;
}

#content {
  max-height: 400px;
  overflow: auto;
}

#modalClose {
  position: absolute;
  top: -0px;
  right: -0px;
  z-index: 1;
}