/*index.html*/
.index{
	background: url("../image/bg.png") no-repeat fixed top;
	background-size: cover;
}

.user{
	background: url("../image/bg2.png") no-repeat fixed top;
	background-size: cover;
}

.header{
	position: absolute;
	top: 40px;
	right: 70px;
	font-size: 20px;
	color: #fff;
}


.header > a {
	text-decoration: none;
	color:white;
}


.header > a > div:nth-child(2){
	text-decoration: none;
	color: #c6b9e4;
}

.title{
	position: absolute;
	top: 320px;
	right: 110px;
}

.title>img{
	opacity: 0;
	position: relative;
}

.wrap_description{
	position: absolute;
	top: 380px;
	left: 60px;
	color: #fff;

}

.description1{
	font-size: 17px;
}

.description1>p{
	position:relative;
	opacity: 0;
}

.description2{
	opacity: 0;
	position:relative;
	right:-20px;
	font-size: 22px;
	margin-top: 85px;
}

.description2 > div:first-child > a{
	color: #7cd3c6;
	text-decoration: none;

}

.description2 > div:first-child > a:hover{
	transition: all 0.5s ease;
	text-shadow: 0px 0px 30px white;
	 
}


.description2 > div > a{
	
	text-decoration: none;
	color: white;
	 
}

.description2 > div > a:hover{
	transition: all 0.5s ease;
	color: #7cd3c6;
	 
}
