/*result.html*/
.result{
	margin: 110px 0px 0px 0px;
	background: url("../image/bg-result.png") no-repeat;
	background-size: cover;
	padding: 50px 0px;
	font-size: 20px;
}

.result>div{
	width: 860px;
}

.result>div>p:first-child{
	font-size: 30px;
	display: flex;
	justify-content: flex-start;
}

.result>div>p:first-child:after{
	content:"";
	position: relative;
	right: 110px;
	top: 8px;
	z-index: -3;
	display: inline-block;
	width: 114px;
	height: 30px;
	background-color: #ddcee8;
}

.result>div>p:nth-child(2):before{
	content: "TITLE   ";
	color: #7c5dc6;
	font-weight: 900;

}
.result>div>p:nth-child(2){
	font-size:19px;
	color: #555;
	margin: 40px 0px;
}
.result>div>p:nth-child(3){
	color: #179a90;
	font-weight: bold;
}


.origin{
	padding: 50px 0px;
	margin: 0 0 50px 0;
}
.origin>div{
	width:860px;
}
.origin>div>p:first-child{
	font-size: 30px;
}

.origin>div>p:first-child:after{
	content:"";
	position: relative;
	right: 56px;
	top: 11px;
	z-index: -3;
	display: inline-block;
	width: 58px;
	height: 30px;
	background-color: #7cded5;
}


.links{
	margin: 0 55px 50px 0;
	display: flex;
	justify-content: flex-end;
}

.links > span:first-child > a{
	font-size: 20px;
	color: #8d6cd1;
	text-decoration: none;
}

.links > span:first-child > a:hover{
	transition: all 0.5s ease;
	color: #512698;	 
}


.links > span:nth-child(2) > a{
	font-size: 20px;
	color: #29d4c7;
	text-decoration: none;
}

.links > span:nth-child(2) > a:hover{
	transition: all 0.5s ease;
	color: #00af9d;	 
}
