.signHeader{
	width: 13%;
	height: 6%;
	position: absolute;
	top: 20px;
	left: 30px;
}

.sign-div{
	display: flex;
	align-items: center;
	justify-content: center;	
}

.sign-div > div{
	display: flex;
	align-items : center;
	box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.27058823529411763);
}

.sign-div > div > div:nth-child(2){
	height: 400px;
	width: 350px;
	padding: 50px 60px;
}

.sidediv{
	width: 220px !important;
	height: 400px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: left;
}

.sidedivUp{
	background: rgb(198, 185, 228);
}
.sidedivIn{
	background: #8dd8da;
}

.sidediv>h1{
	font-weight: 400;
	margin-bottom: 0px;
	color: #645488;
	font-weight: 1000;
}

.sidedivUp>h1{
	color: #645488;
}

.sidedivIn>h1{
	color: #406a6d;
}

.side_div>p{
	color: #444;
}
/*.divideArea{
	width: 140px;
	height: 1px;
	background-color: #667bb0;
}*/



.sign-div >div > div:nth-child(2){
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;	
	background: rgba(255, 255, 255, 1);/*
	border-radius: 25px;*/
}

.sign-div >div > div:nth-child(2)>form>a{
	text-decoration: none;
	color: #667bb0;
}

.sign-div>div>div>form>p>span{
	display: none;
}


input{
	width: 100%;
	height: 45px;
	line-height: 50px;
	font-size: 15px;
	padding: 8px;
}

label{
	display: none;
}

button{
	width: 100%;
	height: 45px;
	font-size: 15px;
	padding: 8px;
	border: none;
	background-color: #eee;
	margin-bottom: 10px;
}